body {
	background-color: #1a1a1a;
	color: aliceblue;
	text-align: center;
	padding: 0% 1%;
	max-height: 98vw;
}

img {
	display: block;
	margin: 0 auto;
	max-height: 50vh;
	max-width: 80vw;
	padding: 2% 5%;
}
